a.out
*.o
*.a
notes
.vscode
test_outputs
minishell
objs/
param_expansion
pathname_expansion
valgrind.txt
tmp.sh
tmp2.sh
.build_started
.build_done
test_print
test_print.c
my_print_hard_link
my_ls_link
test_print.c
dummy_echo.c
dummy_echo
test_infinite.c
inf_loop
unquote
test_unquote.c
redir_expansion
unquotting
test1
test2
.temp
.temp2
TEST1
TEST2
tp'
tmp
file1
file 1
file2
file3
file4
'file 1'
